<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bundle-display-name-localization-ios15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA4947222938E1B500C83269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA4947322938E1B700C83269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA49473C2938E1B700C83269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
